# .NET / Backend
bin/
obj/
*.user
*.suo
.vs/

# Android / Frontend
.gradle/
/build/
**/build/
.idea/
*.iml
local.properties

# Sistema
.DS_Store

**/gradle-daemon-jvm.properties
bin/
obj/
publish/
.kotlin/
backend/SeatingManagement.API/wwwroot/logos/

# Test output
TestResults/
